/* my reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@300;500&display=swap');

/* custom properties */
:root {
    /* colors */
    --black: #212529;
    --white: #f8f9fa;
    /* fonts */
    --title: 'Poppins', sans-serif;
    --text: 'Raleway', sans-serif;
    /* sizes */
    --xl: 4.6rem;
    --lg: 3.6rem;
    --md: 3rem;
    --sm: 1.8rem;

}

/* globals */
html {
    height: 100%;
}

img {
    max-width: 100%;
}

h1 {
    font-family: var(--title);
}

p,
a {
    font-family: var(--text);
}

a.btn-secondary {
    font-size: var(--sm);
    color: var(--black);
    text-decoration: none;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 1.6rem;
    padding: .5rem 3rem;
    transition: all 300ms ease-in-out;
}

.btn-secondary:hover {
    background-color: var(--black);
    border: 2px solid var(--black);
}



/* b5 index--------------------------------------------------------------------------------------------------------------------------------- */
/* navbar */
.navbar-brand {
    width: 12rem;
    filter: invert(100%);
}

@media(min-width:992px) {
    .navbar-collapse {
        position: absolute;
        right: 1em;
    }
}

.nav-link {
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    margin-right: 1em;
    transition: all .3s ease-out;
}

.nav-link.active {
    border-bottom: 2px solid var(--white);
}

.nav-link:hover {
    border-bottom: 2px solid var(--white);
    transform: translateY(-8px);
}

/* hero */
.main__content {
    height: 100vh;
    background-color: var(--white);
    color: var(--black);
}

.inside__content {
    height: 100%;
}

.main__title {
    font-size: var(--lg);
    font-weight: 600;
}

.main__text {
    font-size: var(--sm);
    font-weight: 600;
}

.main__btn:hover {
    box-shadow: inset 0 0 0 25px var(--black);
    padding: .5rem 4rem;
}

/* aside socials */
.hero__icon {
    color: var(--black);
    transition: all .3s ease-out;
}

div.hero__socials i.hero__icon:hover {
    color: #e63946;
}

/* footer */
.footer__logo {
    max-width: 10rem;
    filter: invert(100%);
}

.footer__copy {
    font-size: 1rem;
    color: var(--white);
}

/* b5 about--------------------------------------------------------------------------------------------------------------------------------- */

.about__container {
    height: 100vh;
}

.about__image {
    max-height: 100vh;
    width: 100%;
}

.about__title {
    color: var(--black);
    font-size: var(--md);
    font-weight: 600;
    text-transform: uppercase;
}

.about__text {
    font-size: 1.2rem;
}

.about__info--decoration {
    text-decoration: none !important;
    color: #e63946;
}

.about__info--decoration:hover {
    color: #ec1426;
    letter-spacing: 1px;
}

.about__image--secondary {
    margin: 0 auto;
    max-width: 15rem;
    max-height: 9rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.about__image--secondary:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    transform: scale(1.02);
}

.footer__copy span:hover {
    cursor: pointer;
    color: #e63946;
}